parameters:
    level: 2
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        - '#Cannot call method getRdnString\(\) on array\.#'
        -
            message: '#Access to an undefined property Zend_Ldap_Node_Schema_AttributeType_OpenLdap::\$sup\.#'
            path: %currentWorkingDirectory%/src/Zend/Ldap/Node/Schema/OpenLdap.php
        -
            message: '#Access to an undefined property Zend_Ldap_Node_Schema_AttributeType_OpenLdap::\$aliases\.#'
            path: %currentWorkingDirectory%/src/Zend/Ldap/Node/Schema/OpenLdap.php
        -
            message: '#Access to an undefined property Zend_Ldap_Node_Schema_AttributeType_OpenLdap::\$max-length\.#'
            path: %currentWorkingDirectory%/src/Zend/Ldap/Node/Schema/AttributeType/OpenLdap.php
        -
            message: '#Access to an undefined property Zend_Ldap_Node_Schema_AttributeType_OpenLdap::\$single-value\.#'
            path: %currentWorkingDirectory%/src/Zend/Ldap/Node/Schema/AttributeType/OpenLdap.php
        -
            message: '#Access to an undefined property Zend_Ldap_Node_Schema_ObjectClass_OpenLdap::\$aliases\.#'
            path: %currentWorkingDirectory%/src/Zend/Ldap/Node/Schema/OpenLdap.php
